[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
section {
    margin-top:51px;
    position:relative;
}
footer {
    margin:10px;
    text-align: center;
}
footer span.copy {
    color: #AAA;
    font-size: 12px;
}
form, .form-control {
    font-size: 12px;
}
a, a:hover {
    text-decoration: none !important;
}
.container {
    width:100%;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.sidebar {
    position:absolute;
    height: 100%;
    width:230px;
}
.content {
    height: auto;
    background: none repeat scroll 0 0 #f0f0f0;
    margin-left:240px;
}
    #content_header {
        padding: 5px;
    }
        #content_header h1 {
            color: #555555;
            font-size: 28px;
            font-weight: normal;
            text-shadow: 0 1px 0 #ffffff;
            margin: 10px;
            display: inline-block;
        }
body {
    background-color:#333;
}
.company-name {
    font-size: 20px;
    font-weight: bold;
    color: #EAEAEA!important;
    padding:11px;
}
.company-name span {
    margin-right: 10px;
    color: #269abc;;
}
.workspace-btn {
    width:181px;
}
.pd {
    margin: 0 5px;
    padding:10px 5px;
    border-bottom:1px solid #444;
    float:left;
    width: 216px;
}
    .details {
        float:left;
        width: 140px;
        height: 66px;
        padding:5px;
        color: #CCC;
    }
        .big-text {
            font-size:14px;
            font-weight: bold;
            margin: 0 0 5px;
        }
        .small-text {
            font-size:10px;
            margin: 0 0 5px;
        }
    .avatar {
        background: #FFF;
        width: 66px;
        height: 66px;
        float:left
    }
        .avatar img {
            width:60px;
            height:60px;
            margin: 3px;
        }
.workspace-div {
    margin:0 5px;
    padding:5px;
    border-bottom:1px solid #444;
    float:left;
    width: 216px;
}
.project-div {
    margin:0 5px;
    padding:5px;
    border-bottom:1px solid #444;
    float:left;
    width: 216px;
}
    .project-div ul {
        margin: 0 5px;
        padding: 0px;
    }
    .project-div li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .project-div a {
        position:relative;
        font-size:12px;
        text-decoration: none;
        color: #BBB;
        border: 1px solid #333;
        display:block;
        padding:5px;
        margin-top: -1px;
    }
    .project-div a:hover,.project-div a.selected {
        color: #DDD;
        background: #222;
        border-color: #101010;
        z-index:101;
    }
    a.no-project {
        color:#666;
        cursor: default;
    }
    a.no-project:hover {
        color:#666;
        background: #333;
        border-color: #333;
    }
    a.add-project {
        color:#666;
    }
    a.add-project:hover {
        color:#999;
        background: #333;
        border-color: #333;
    }
#breadcrumb {
    background-color: #eaeaea;
    box-shadow: 0 0 1px #ffffff;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding-left: 10px;
    margin-bottom: 20px;
}
    #breadcrumb a {
        padding: 8px 20px 8px 10px;
        display: inline-block;
        background-image: url('../images/breadcrumb.png');
        background-position: center right;
        background-repeat: no-repeat;
        font-size: 11px;
        color: #666666;
    }
    #breadcrumb a span {
        margin-right: 5px;
        opacity: .6;
    }
    #breadcrumb a.current {
        font-weight: bold;
        color: #444444;
    }
    #breadcrumb a:last-child {
        background-image: none;
    }
#content_body {
    padding: 0 10px;
}
.center {
    text-align: center;
}
ul.w-dashboard {
    display: inline-block;
    list-style: none outside none;
    margin: 20px 0 10px;
    text-align: center;
    padding: 0;
}
ul.w-dashboard li {
    list-style: none;
    padding: 0;
    min-width: 200px;
    border: 1px solid #d5d5d5;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255,255,255,0.4);
    box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255,255,255,0.4);
    display: inline-block;
    line-height: 18px;
    margin: 0 10px 10px;
    padding: 0 10px;
    background-color: #fafafa;
    background-image: -webkit-linear-gradient(top, #fafafa 0%, #f2f2f2 100%);
    background-image: linear-gradient(to bottom, #fafafa 0%, #f2f2f2 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#fff2f2f2', GradientType=0);
}
ul.w-dashboard li:hover {
    background-image: none;
    background-color: #fafafa;
}
ul.w-dashboard li a {
    text-align: center !important;
    display: block;
    color: #666666;
    text-shadow: 0 1px 0 #ffffff;
    padding: 10px 30px;
    font-size: 12px;
}
ul.w-dashboard li a span {
    display: block;
    margin: 0 auto 5px;
    font-size:24px;
}
span.glyphicon-user.wicon {
    color: #3CBB67;
}
span.glyphicon-briefcase.wicon {
    color: #BB3CB3;
}
span.glyphicon-th.wicon {
    color: #29ACEF;
}
.panel-body {
    font-size: 12px;
}
label.error {
    color: red;
    font-weight: normal;
    padding: 5px 2px 0;
}
.wp-dashboard {
    background: whitesmoke;
    margin-bottom: 10px;
    border: 1px solid #CCC;
}
.wp-header {
    font-size: 12px;
    font-weight: bold;
    color: #555;
}
.wp-header > span.glyphicon {
    padding: 10px 20px 10px 10px;
    border-right: 1px solid #CCC;
    top: 0px;
}
.header-text {
    padding-left:3px;
}
.wp-body {
    border-top: 1px solid #CACACA;
    overflow: hidden;
}
.w-box {
    display: block;
    border-top: 1px solid #CCC;
    margin-top: -1px;
    background: #FFF;
}
.w-box-w, .w-box-add {
    padding: 20px;
    width: 200px;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    margin: 0px;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
    background: #FAFAFA;
    margin-top: -1px;
}
w-box-add {
    
}
.w-box-wp {
    margin: 5px;
}
.w-box-close {
    float: right;
    margin:7px 7px 0px;
    color: #999;
    font-size: 14px;
}
.w-box-close:hover {
    color: #555;
}
.w-option {
    float:right;
    margin: 8px;
}
/* Disable link */
a.disabled, 
a.disabled:visited ,
a.disabled:active,
a.disabled:hover {  
  color: #999 ;
  cursor: default;
}
.dropdown-menu {
  a.disabled, 
  a.disabled:visited ,
  a.disabled:active,
  a.disabled:hover {  
    color: #999 ;
    cursor: default;
    background-color: white;
  }
}
.w-details {
    border: 1px solid #DDD;
    background: #FAFAFA;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.info-label{
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    margin: 0 0 10px;
    padding: 10px 20px 10px;
    position: relative;
    margin-left: 5px;
    font-size: 12px;
    color: #888888;
    font-style: italic;
}
.info-data {
    background-color: #FFF;
    border: 1px solid #DDD;
    margin: 0 0 10px;
    padding: 10px 20px 10px;
    position: relative;
    margin-left: -1px;
    font-size: 12px;
    color: #555;
}