<div id="content_header">
  <h1>Workspace</h1>
</div>
<div id="breadcrumb">
  <a href="#" title="" class="tip-bottom current" data-original-title="Go to Home">
    <span class="glyphicon glyphicon-th-large"></span> Workspace</a>
</div>
<div id="content_body" class="container-fluid">
  <div class="row">
  <!-- start:workspace box-->
    <div class="col-sm-12 center">
      <ul class="w-dashboard">
        <li ng-repeat="wt in newWorkspaceType">
          <a href="#">
            <span class="glyphicon  glyphicon-{{wt.icon}}"></span>
            {{ wt.name }} ({{ wt.workspace.length }})
          </a>
        </li>
      </ul>
    </div>
  <!-- end:workspace box-->
  <!-- start:todos box-->
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Todos</h3>
        </div>
        <div class="panel-body">
          <p>No Todos</p>
        </div>
      </div>
    </div>
  <!-- end:todos box-->
  </div>
</div>