<div id="content_header">
  <h1>Workspace</h1>
</div>
<div id="breadcrumb">
  <a href="#" title="" class="tip-bottom current" data-original-title="Go to Home">
    <span class="glyphicon glyphicon-th-large"></span> Workspace</a>
</div>
<div id="content_body" class="container-fluid">
  <div class="row">
  <!-- start: workspace box-->
    <div class="col-sm-12 center">
      <ul class="w-dashboard">
        <li ng-repeat="wt in newWorkspaceType">
          <a href="#" ng-click="showWorkspaceDetails(wt.name); $event.preventDefault();">
            <span class="glyphicon  glyphicon-{{wt.icon}} wicon"></span>
            {{ wt.name }} ({{ wt.workspace.length }})
          </a>
        </li>
      </ul>
    </div>
  <!-- end: workspace box-->
  </div>
  <div class="row">
    <!-- start: workspace projects details-->
    <div class="col-sm-12">
      <div class="wp-dashboard animate-show" ng-repeat="wt in newWorkspaceType" ng-show="local.activeWorkspace == wt.name">
        <div class="wp-header">
          <span class="glyphicon  glyphicon-{{wt.icon}} wicon"></span>
          <span class="header-text">{{ wt.name }}</span>
          <a class="w-box-close" href="#" ng-click="hideWorkspaceDetails(); $event.preventDefault();"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
        <div class="wp-body">
          <div class="w-box" ng-repeat="w in wt.workspace">
            <div class="w-box-w">
              <a href="#/workspace-details/{{w.id}}">{{ w.name }}</a>
            </div>
            <a href="#/workspace-project/{{w.id}}/{{p.id}}" class="w-box-wp label label-info" ng-repeat="p in w.projects">
              {{ p.name }}
            </a>
            <a href="#/project/{{w.id}}/" class="w-box-wp label label-default">
              <span class="glyphicon  glyphicon-plus wicon"></span> Project
            </a>
          </div>
          <div class="w-box">
            <div class="w-box-add">
            <a href="#/workspace"><span class="glyphicon  glyphicon-plus wicon"></span> New Workspace</a>
            </div>
            <div class="w-box-wp label label-default">
            No Project
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end: workspace projects details -->
  </div>
  <div class="row">
  <!-- start: todos box-->
    <div class="col-sm-12">
      <div class="wp-dashboard">
        <div class="wp-header">
          <span class="glyphicon glyphicon-record"></span>
          <span class="header-text">{{ user.fname }}'s Tasks</span>
          <a class="w-box-search" href="#" ng-click="$event.preventDefault();" slide-toggle="#search_task"><span class="glyphicon glyphicon-search"></span></a>
          <div id="search_task" class="slideable search-task">
            <input class="form-control" type="text" ng-model="query"/>
          </div>
        </div>
        <div class="wp-body">
          <table class="table project">
            <thead>
              <tr>
                <th><span class="glyphicon glyphicon-stop"></span></th>
                <th>Name</th>
                <th>Project</th>
                <th>Workspace</th>
                <th>Due Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-animate="{enter: 'repeat-enter',
                    leave: 'repeat-leave',
                    move: 'repeat-move'}" ng-repeat="task in taskList | filter:tSearch | orderBy:'status':reverse">
                <td><span class="glyphicon glyphicon-stop"></span></td>
                <td><a href="#/workspace-project/{{ task.workspace.id }}/{{ task.project.id }}/{{ task.id }}">{{ task.name }}</a></td>
                <td><a href="#/workspace-project/{{ task.workspace.id }}/{{ task.project.id }}">{{ task.project.name }}</a></td>
                <td><a href="#/workspace-details/{{ task.workspace.id }}">{{ task.workspace.name }}</a></td>
                <td>{{ task.duedate }}</td>
                <td><span ng-class="{ 'glyphicon glyphicon-retweet task0': task.status == 0, 'glyphicon glyphicon-saved task1': task.status == 1 }"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <!-- end: todos box-->
  </div>
</div>