<div id="content_header">
  <h1>Project</h1>
</div>
<div id="breadcrumb">
  <a href="#" title="" class="tip-bottom" data-original-title="Go to Home">
    <span class="glyphicon glyphicon-th-large"></span> Workspace</a>
  <a ng-show="formType == 'add'" href="#/project/{{ data.selectedWorkspace.id }}" class="current">Add Project</a>
  <a ng-show="formType == 'edit'" href="#/project/{{ data.selectedWorkspace.id }}/{{ data.selectedProject.id }}" class="current">Edit Project</a>
</div>
<div id="content_body" class="container-fluid">
  <div class="row">
  <!-- start:bootstrap box-->
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 ng-show="formType == 'add'" class="panel-title">Add Project</h3>
          <h3 ng-show="formType == 'edit'" class="panel-title">Edit Project</h3>
        </div>
        <div class="panel-body">
          <form name="form" role="form">
            <div class="form-group">
              <label for="project_name">Project Name</label>
              <input name="project_name" type="text" class="form-control" ng-model="project.name" value="{{ project.name }}" placeholder="enter project name" required>
              <label class="error" ng-show="form.project_name.$dirty && form.project_name.$invalid">
                <span ng-show="form.project_name.$error.required">Project name is required.</span>
              </label>
            </div>
            <div class="form-group">
              <label for="workspace_id">Workspace</label>
              <select name="workspace_id" class="form-control" ng-model="project.wid"required>
                <option value="">-- select workspace --</option>
                <option ng-repeat="ws in workspace" ng-selected="project.wid == ws.id" value="ws.id" >{{ ws.name }}</option>
              </select>
              <label class="error" ng-show="form.workspace_id.$dirty && form.workspace_id.$invalid">
                <span ng-show="form.workspace_id.$error.required">Workspace is required.</span>
              </label>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" ng-model="project.description" value="{{ project.description }}" placeholder="enter project description"></textarea>
              <p class="help-block">Details about project.</p>
            </div>
            <button ng-show="formType == 'add'" type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="addProject();">Submit</button>
            <button ng-show="formType == 'edit'" type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="editProject();">Submit</button>
            <button ng-show="formType == 'add'" type="button" class="btn btn-default" ng-click="cancelAddProjectForm();">Cancel</button>
            <button ng-show="formType == 'edit'" type="button" class="btn btn-default" ng-click="cancelEditProjectForm();">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  <!-- end:bootstrap box-->
  </div>
</div>