<div id="content_header">
  <h1>{{ data.selectedProject.name }}</h1>
  <div class="btn-group w-option">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">
      <li><a href="#/task/{{ data.selectedWorkspace.id }}/{{ data.selectedProject.id }}/">Add Task</a></li>
      <li ng-hide="viewProjectDetails"><a href="#" ng-click="showProjectDetails(); $event.preventDefault();">View Details</a></li>
      <li ng-show="viewProjectDetails"><a href="#" ng-click="showProjectDetails(); $event.preventDefault();">Hide Details</a></li>
      <li><a href="#/project/{{data.selectedWorkspace.id}}/{{data.selectedProject.id}}">Edit Details</a></li>
      <li class="divider"></li>
      <li>
        <a href="#" ng-click="deleteProject(); $event.preventDefault();">Delete</a>
      </li>
    </ul>
  </div>
</div>
<div id="breadcrumb">
  <a href="#" title="" class="tip-bottom" data-original-title="Go to Home">
    <span class="glyphicon glyphicon-th-large"></span> Workspace</a>
  <a href="#/workspace-details/{{ data.selectedWorkspace.id }}">{{ data.selectedWorkspace.name }}</a>
  <a href="#/workspace-project/{{ data.selectedWorkspace.id }}/{{data.selectedProject.id}}" class="current">{{ data.selectedProject.name }}</a>
</div>
<div id="content_body" class="container-fluid">
  <!-- start: workspace details -->
  <div class="row" ng-show="viewProjectDetails">
    <div class="col-sm-12 w-details">
      <div class="row">
        <div class="col-sm-3 info-label">
          Number of Tasks
        </div>
        <div class="col-sm-8 info-data">
          {{ data.selectedProject.tasks.length }}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 info-label">
          Description
        </div>
        <div class="col-sm-8 info-data">
          {{ data.selectedProject.description }} 
        </div>
      </div>
    </div>
  </div>
  <!-- end: workspace details -->
  <div class="row">
    <div class="col-sm-12">
      <div class="wp-dashboard ng-scope">
        <div class="wp-header">
          <span class="glyphicon glyphicon-record"></span>
          <span class="header-text ng-binding">Tasks</span>
        </div>
        <div class="wp-body">
          <div class="tasks-div">
            <div class="task-div" ng-repeat="t in data.selectedProject.tasks">
              <a ng-class="{ 'active': t.id == data.selectedTask.id }" href="#/workspace-project/{{ data.selectedWorkspace.id }}/{{ data.selectedProject.id }}/{{ t.id }}">{{ t.name }}</a>
            </div>
            <div ng-hide="data.selectedProject.tasks.length" class="task-div no-task-div"> No Task Exist</div>
            <div class="add-task-div">
              <a href="#/task/{{ data.selectedWorkspace.id }}/{{ data.selectedProject.id }}/"><span class="glyphicon glyphicon-plus"></span> Task</a>
            </div>
          </div>
          <div class="tasks-details">
            <div class="task-header">
              <div ng-show="data.selectedTask.status == 0" class="task-status">
                <span class="glyphicon glyphicon-retweet task0"></span>
                <div class="task-text">In Process</div>
              </div>
              <div ng-show="data.selectedTask.status == 1" class="task-status">
                <span class="glyphicon glyphicon-saved task1"></span>
                <div class="task-text">Complete</div>
              </div>
              <a href="#" ng-click="changeState(); $event.preventDefault();" class="task-change-status">
                <span ng-class="{ 'glyphicon glyphicon-unchecked': data.selectedTask.status == 0, 'glyphicon glyphicon-check': data.selectedTask.status == 1 }"></span>
              </a>
              <div class="task-name">{{ data.selectedTask.name }}</div>
              <div class="task-desc">{{ data.selectedTask.description }}</div>
              <div class="task-creation">
                <span class="glyphicon glyphicon-calendar"></span>
                <span class="text">{{ data.selectedTask.creation }}</span>
                <span class="help">Creation date</span>
              </div>
              <div class="task-updation">
                <span class="glyphicon glyphicon-calendar"></span>
                <span class="text">{{ data.selectedTask.updation }}</span>
                <span class="help">Updation date</span>
              </div>
              <div class="task-duedate">
                <a href="#" ng-click="$event.preventDefault();" title="Change Due Date">
                  <span class="glyphicon glyphicon-calendar"></span>
                </a>
                <span class="text">{{ data.selectedTask.duedate }}</span>
                <span class="help">Due date</span>
              </div>
              <div class="task-assign-to">
                <ul class="p-list">
                  <li class="title-task-per">Assign To: </li>
                  <li class="task-per" ng-repeat="a in data.selectedTask.assignTo" title="{{ user.userData[a].email }}">
                    {{ user.userData[a].fname + ' ' + user.userData[a].lname }}
                    <a class="del" href="" ng-click="removeAssignedUser(user.userData[a].id); $event.preventDefault();">
                      <span class="glyphicon glyphicon-remove-circle"></span>
                    </a>
                  </li>
                  <li class="add-task-per">
                    <a href="#" ng-click="changeAssignedUser(); $event.preventDefault();">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="task-followers">
                <ul class="p-list">
                  <li class="title-task-per">Followers: </li>
                  <li class="task-per" ng-repeat="a in data.selectedTask.followers" title="{{ user.userData[a].email }}">
                    {{ user.userData[a].fname + ' ' + user.userData[a].lname }}
                    <a class="del" href="#" ng-click="$event.preventDefault();">
                      <span class="glyphicon glyphicon-remove-circle"></span>
                    </a>
                  </li>
                  <li class="add-task-per">
                    <a href="#" ng-click="$event.preventDefault();">
                      <span class="glyphicon glyphicon-plus"></span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="task-options">
                <ul>
                  <li>
                    <a href="#" ng-click="$event.preventDefault();" title="Mask as Important">
                      <span class="glyphicon glyphicon-star-empty"></span>
                    </a>
                  </li>
                  <li>
                    <a href="#" ng-click="$event.preventDefault();" title="Print this task">
                      <span class="glyphicon glyphicon-print"></span>
                    </a>
                  </li>
                  <li>
                    <a href="#" ng-click="$event.preventDefault();" title="Edit this task details">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                  </li>
                  <li>
                    <a href="#" ng-click="$event.preventDefault();" title="Delete this task">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="task-content">
              <div class="task-logs" ng-repeat="log in data.selectedTask.logs">
                <a class="del-log" href="#" ng-click="removeLog(log.id); $event.preventDefault();">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
                <div class="by {{log.type}}">{{ user.userData[log.by].fname + ' ' + user.userData[log.by].lname }}: </div>
                <div class="text {{log.type}}">{{ log.text }}</div>
                <div class="date {{log.type}}">{{ log.date }}</div>
              </div>
              <div ng-hide="data.selectedTask.logs.length" class="no-task-logs">No Logs</div>
              <form name="form" role="form" class="comment-form">
                <div class="form-group">
                  <textarea required class="form-control" ng-model="comment.text" placeholder="enter comment"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="addComment();">Comment</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>